.details {
  text-align: left;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
  margin-top: -170px;
  font-size: 16rem;
z-index: 22;
}

.details h3 {
  font-size: 25rem;
}

@media (max-height: 750px) {
  .details {
    margin-top: -250px;
    padding-left: 0px;
  }
}

@media (max-width: 750px) {

  .details {
    margin-top: -90px;
    padding-left: 0px;
  }
}

.details * {
  background: rgba(10, 10, 10, 0.7);
  display: table;
  margin-bottom: 6px;
  padding: 9px;
}

.details a:hover {
  color: firebrick;
}
