.details {
  position: absolute;
  text-align: left;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(50% - 3vh);
  padding-left: 50px;
  font-size: 16rem;
  line-height: 20rem;
  z-index: 22;
  pointer-events: none;
}

.details[data-year="2018"] {
  width: 30%;
  min-width: 250px;
  padding-left: 0;
  padding-right: 50px;
  right: 0;
  left: unset;
  box-sizing: border-box;
}

.details h3 {
  font-size: 25rem;
  line-height: 30rem;
}

.details * {
  background: rgba(10, 10, 10, 0.7);
  display: table;
  margin-bottom: 6px;
  padding: 9px;
}

.details a {
  pointer-events: auto;
}

.details a:hover {
  color: firebrick;
}

@media (max-width: 700px) {
  .details {
    padding-left: 0px;
  }
}
