.cities {
  width: 30%;
  text-align: left;
  padding-top: 5vh;
  max-width: 400px;
}

@media (max-height: 580px), (max-width: 1000px) {
  .cities {
    display: none;
  }
}

.cities__city {
  display: inline-block;
  font-size: 12rem;
  color: grey;
  padding: 2rem;
  margin: 3rem;
  cursor: pointer;
}

.cities__city:hover {
  color: white;
}

.cities__city[data-chosen="true"] {
  background-color: #4bc32d;
  color: black;
  cursor: default;
}

.cities__count {
  font-size: 0.8em;
  color: firebrick;
}
