.cities {
position: absolute;
bottom: 10vh;
  text-align: center;
  width: 90%;
  max-width: 700rem;
  margin: 0 auto;
left: 0;
right: 0;
}

@media (max-height: 700px) {
  .cities {
    max-width: 90%;
  }
}

@media (max-height: 650px) {
  .cities {
    max-width: 90%;
    margin-top: 5vh;
  }
}

@media (max-height: 580px),
(max-width: 700px) {
  .cities {
    display: none;
  }
}

.cities__city {
  display: inline-block;
  font-size: 12rem;
  color: grey;
  padding: 2rem;
  margin: 3rem;
  cursor: pointer;
}

.cities__city:hover {
  color: white;
}

.cities__city[data-chosen='true'] {
  background-color: #4bc32d;
  color: black;
  cursor: default;
}
